//
//  Secrets.xcconfig .xcconfig
//  iosApp
//
//  Created by Neo on 23/07/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
WEB_CLIENT_ID = 844322617086-tqfg1m8o2f23b9fj9pcb20ai9e5cp6fl.apps.googleusercontent.com
IOS_CLIENT_ID = 844322617086-ld28pgsor356e98ml5g5so10drcgketd.apps.googleusercontent.com
